<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E_COM</title>
    <meta name="viewport" content="width=device-width">
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
    .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}


    </style>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/1">E_COM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Home</a></li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    {% if product_list %}
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:65%">Product</th>
            <th style="width:15%">Price</th>
            <!--<th style="width:8%">Quantity</th>-->
            <!--<th style="width:20%" class="text-center">Subtotal</th>-->
            <th style="width:20%"></th>
        </tr>
        </thead>
        <tbody>
        {% for i in product_list %}
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="{{i.img.url}}" alt="..."
                                                         class="img-responsive"/></div>
                    <div class="col-sm-10">
                        <h4 class="nomargin">{{i.name}}</h4>
                        <p>{{i.detail}}</p>
                    </div>
                </div>
            </td>
            <td data-th="Price">₹ {{i.price}}</td>
            <!--<td data-th="Subtotal" class="text-center">₹ {{i.price}}</td>-->
            <td class="actions" data-th="">

                <button onclick="remove({{i.pk}})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total ₹ {{total}}</strong></td>
        </tr>
        <tr>
            <td><a href="/1" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total ₹ {{total}}</strong></td>
            <td><button id="rzp-button1" class="btn btn-success btn-block">Checkout<i class="fa fa-angle-right"></i></button></td>
        </tr>
        </tfoot>
        <div id="payment_final" style="display:none;">{{total}}</div>
    </table>
    {% else %}
    <h1>Empty</h1>
    {% endif %}
</div>
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var node = (document.getElementById('payment_final').textContent)*100;
	
// enter key provided by razor pay
var options = {
    "key": "################",
    "amount": node, // 2000 paise = INR 20
    "name": "Test",
    "description": "Purchase Description",
    "handler": function (response){
        alert("Payment Successful");
        aftersucess();
    },
    "prefill": {
        "name": "Test User",
        "email": "test@test.com"
    },
    "notes": {
        "address": "Hello World"
    },
    "theme": {
        "color": "#F37254"
    }
};
var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function(e){

    rzp1.open();
    e.preventDefault();
}

    function aftersucess(){
        window.location.href = "/1"
    $.ajax({
        type: "POST",
        url: '{% url "store:remove" %}',
        data: {
          'p_id': id,
        },
        dataType: 'json',
        success: function(data) {
            window.location.href = "/cart/1";
        },
        error: function(xhr, textStatus, errorThrown) {
            alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
        }
    });

    }

	function remove(id){
		$.ajax({
        type: "POST",
        url: '{% url "store:remove" %}',
        data: {
          'p_id': id,
        },
        dataType: 'json',
        success: function(data) {
            window.location.href = "/cart/1";
        },
        error: function(xhr, textStatus, errorThrown) {
            alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
        }
    });
	}


</script>
</html>
